absl-py==0.13.0
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
BindsNET @ git+https://github.com/BindsNET/bindsnet.git@91ffafb23eb4b8baa4250cf2fcb9e8dedd9ef6c1
bleach==3.3.0
boto3==1.17.104
botocore==1.20.104
brain-score @ git+https://github.com/brain-score/brain-score@5d333f1629eeb4f624e884f60b22c9533ea04a32
brainio @ git+https://github.com/brain-score/brainio@f50dd83048e67fbac74e8bb14e4c7b7d9ab00804
brainio-base @ git+https://github.com/brain-score/brainio_base@6e56cfd9a31318cbfdbfeba14da4cf6c2e7fb92b
brainio-collection @ git+https://github.com/brain-score/brainio_collection@704bf3e218b3a2d58228bcf90bb12c3093bf5556
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
cfgv==3.3.0
cftime==1.5.0
chardet==4.0.0
charset-normalizer==2.0.4
cloudpickle==1.6.0
colorama==0.4.4
cycler==0.10.0
Cython==0.29.24
dask==2021.6.2
debugpy==1.3.0
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.4
distlib==0.3.2
distro==1.5.0
entrypoints==0.3
filelock==3.0.12
fire==0.4.0
flatbuffers==1.12
fsspec==2021.6.1
gast==0.3.3
gitdb==4.0.7
GitPython==3.1.18
google-auth==1.33.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.32.0
gym==0.18.3
h5py==2.10.0
identify==2.2.11
idna==2.10
imageio==2.9.0
importlib-metadata==3.10.1
iniconfig==1.1.1
ipykernel==6.0.0
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras==2.3.1
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
latexcodec==2.0.1
locket==0.2.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
model-template @ file:///Users/chrisbrownlie/Documents/MSc%20Data%20Science/sample-model-submission
model-tools @ git+https://github.com/brain-score/model-tools@b5c7f300dc20fa9d7c338ee0d930524ea6e7e2bf
mysql-connector-python==8.0.21
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
netCDF4==1.5.7
networkx==2.5.1
nodeenv==1.6.0
norse==0.0.6
notebook==6.4.0
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.2.54
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.5
pandocfilters==1.4.3
parso==0.8.2
partd==1.2.0
peewee==3.14.4
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
platformdirs==2.1.0
pluggy==0.13.1
pre-commit==2.13.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
psycopg2-binary==2.9.1
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybtex==0.24.0
pycparser==2.20
pyglet==1.5.15
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.18.0
pysnn==0.1.1
pytest==6.2.4
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
requests==2.25.1
requests-oauthlib==1.3.0
result-caching @ git+https://github.com/brain-score/result_caching@27ace7e892a2cbfbcb654d027e8d108e168986d4
rsa==4.7.2
s3transfer==0.4.2
scikit-build==0.11.1
scikit-image==0.18.2
scikit-learn==0.23.2
scipy==1.7.0
Send2Trash==1.7.1
six==1.15.0
sklearn==0.0
smmap==4.0.0
sqlparse==0.3.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==1.15.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.1.0
tifffile==2021.7.2
toml==0.10.2
tomli==1.1.0
toolz==0.11.1
torch==1.8.1
torch-tb-profiler==0.2.1
torchaudio==0.9.0
torchvision==0.9.1
tornado==6.1
tqdm==4.61.1
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.6
virtualenv==20.6.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray==0.16.1
zipp==3.4.1
